* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    max-width: 440px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}
.ltps-class{
    display: flex;
    flex-direction: column;
    .form-label{
        text-align: center;
    }

}
.ltps-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin:0 0 15px 0;
} 

label {
    margin-top: 15px;
    font-weight: bold;
    display: block;
    color: #333;
    font-size: 14px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px 0;
    border: 2px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s ease;
}

input[type="number"]:focus {
    border-color: #4e555b;
    outline: none;
    box-shadow: 0 0 8px rgba(78, 85, 91, 0.3);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4e555b;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2c3e50;
}

#result {
    font-family: 'Helvetica Neue', sans-serif;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    color: #333;
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 6px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#result span.percentage {
    font-weight: bold;
    color: #2c3e50;
    font-size: 1.1em;
    padding: 2px 4px;
    border-radius: 4px;
}

#result .important-info {
    font-weight: bold;
    color: #4e555b;
    font-size: 1.13em;
}

#result .class-count {
    font-weight: bolder;
    color: #263c6d;
    font-size: 1em;
}

.logo-container {
    text-align: center;
}

.logo {
    width: 400px;
}

.error-message{
    color: red;
    font-size: larger;
    margin-top: 5px;
    text-align: center;
}
.copyright{
    text-align: center;
    font-size: 12px;
    color: #333;
    margin-top: 10px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 22px;
    }

    button {
        font-size: 15px;
        padding: 10px;
    }

    #result {
        font-size: 15px;
    }

    .logo {
        width: 250px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    }

    h1 {
        font-size: 20px;
    }

    label {
        font-size: 13px;
    }

    input[type="number"] {
        padding: 8px;
        font-size: 13px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }
    .ltps-main{
        flex-direction: column;
     
    }
    .ltps-class{
        margin: 0;
        flex-direction: row;

        .form-label{
            
            margin-right: auto;
            flex-grow: 1;
        }
        .form-input{
            margin-left: auto;
            flex-grow: 1;
        }
    }
    input[type="number"] {
        
        width: 50%;
        padding: 10px;
        margin: 8 0 10px 0;

    }

    #result {
        font-size: 14px;
        padding: 12px;
    }

    .logo {
        width: 250px;
    }
}

@media (max-width: 360px) {
    h1 {
        font-size: 18px;
    }

    label {
        font-size: 12px;
    }

    .ltps-main{
        flex-direction: column;
     
    }
    .ltps-class{
        margin: 0;
        flex-direction: row;

        .form-label{
            
            margin-right: auto;
        }
        .form-input{
            margin-left: auto;
        }
    }
    input[type="number"] {
        
        width: 50%;
        padding: 5px;
        margin: 8 0 10px 0;

    }

    button {
        font-size: 13px;
    }

    #result {
        font-size: 10px;
    }
}
